.mobile_btn_wrap{
    padding: 10px 10px ;
    background-color: #0b255b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.mobile_btn_wrap .logo{
    width: 100px;
    height: 22px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.mobile_btn_wrap .logo img{
    width: 100%;
    height: 100%;
}
.mnavigation{
    background-color: #d9d9d9;
    position: absolute;
    top: 52px;
    left: 0;
    z-index: 1000;
    padding: 10px;
}
.mnavigation>ul{
    background: unset;
}
.search_bar.m{
    width: 100%;

}
.mnavigation>ul>li{
    font-size: 16px;
    font-weight: 700;
}
.shopcart>a{
    font-size: 20px;
    color: #fff;
}
.msort_box{
    display: flex;
    padding: 10px 0;
}
.msort_box>li{
    position: relative;
}
.mobile_sort{
    z-index: 1000;
    background-color: #fff;
    width: 100%;
    position: absolute;
    top: 32px;
    left: 0;
}
.sortbtnss{
    height: auto;
}
.mobile_sort .sortbtn{
    display: none;
}
.mobile_btn{
    background: unset;
    border: unset;
    color: #fff;
    font-weight: 900;
    font-size: 20px;
    padding: 0px;
}
.ml30{
    margin-left: 30px;
}
.backbtn{
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 1000;
    cursor: pointer;
}
.backbtn>a{
    font-size: 20px;
    color: #fff;
}